* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(73, 106, 108);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.block {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.row {
    height: 30px;
}

button {
    padding: 1em;
}

audio {
    display: none;
}

main {
    display: flex;
    gap: 1rem;
}

#grid {
    margin: 1rem;
}

#score-container {
    margin: auto 1rem;
}