* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0C120C;
}

.red {
    background-color: #6E0D25;
}

.yellow {
    background-color: #FFFFB3;
}

.purple {
    background-color: #DCAB6B;
}

.blue {
    background-color: #774E24;
}

.green {
    background-color: #6A381F;
}

.black {
    background-color: #1E1E24;
}

.block {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.row {
    height: 30px;
}

button {
    padding: 1em;
}

audio {
    display: none;
}

main {
    display: flex;
    gap: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#grid {
    margin: 1rem;
}

.game-info {
    margin: auto 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.current-score {
    color: #EDE7D9;
    font-weight: 600;
    font-size: x-large;
}

.highscore {
    color:#A49694;
    font-weight: 800;
    font-size: xx-large;
}

.highscore, .current-score {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

.game-buttons button {
    font-weight: 700;
    font-variant: small-caps;
    background-color: #736B60;
    color: #EDE7D9;
    border: none;
    transition: all ease-in-out .1s;

    &:hover {
        background-color: #EDE7D9;
        color: #1E1E24; 
        cursor: pointer;   
    }
}

.gameover {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #D5A021;
}

.next-shape p {
    font-size: x-large;
    font-weight: 500;
    color: #EDE7D9;
    text-transform: capitalize;
    margin-bottom: 1rem;
}